h1,
h2 {
  color: darkslategrey;
  font-family: "Lobster";

  font-family: "Marck Script";
  text-align: center;
  padding: 10px 0;
}

h2 {
  font: 26px;
}
.topsection {
  padding: 10px 0;
}
body {
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
}
.navbar {
  background: linear-gradient(
    90.9deg,
    rgb(255, 187, 187) -8.8%,
    rgb(255, 220, 177) 12.4%,
    rgb(255, 249, 177) 35.6%,
    rgb(220, 255, 177) 59.6%,
    rgb(177, 218, 255) 84%,
    rgb(222, 177, 255) 107.9%
  );
}

#mail-me {
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 25%;
  padding: auto;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}
.row::after {
  clear: both;
  display: table;
}
.paragraph {
  text-align: center;
}
.plushToys {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  float: center;
  clear: both;
  display: table;
}
.macrame {
  margin-left: 30%;
}
footer .etsy-shop {
  text-decoration: none;
  color: black;
  background-color: rgb(243, 243, 96);
  font-size: 20px;
}

footer .etsy-shop:hover {
  color: green;
}
footer {
  margin: 60px 0;
}
footer .git {
  text-decoration: none;
  color: black;
  text-align: center;
}
